.body-gourmet {
  background: url(../img/logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;

}

.superior{
  background-color: #178cba;
  border: 1px solid blue;
  margin: auto;
  border-radius: 5px;
}

.contenido{
  margin-top: 3%;
}

.plt{
  width: 200px;
  height: auto;
  padding: 1em;
}

.principal{
  background-color: rgba(248, 152, 114, 0.7);
  padding: 1%;
  border-radius: 5px;
  border: solid 1px red;
}

.Favoritos{
  padding: 4%;
}

div[class^="publicacion"]{
  border: solid 1px #178cba;
}

.buscar{
  border: solid 1px #178cba;
}


.publi1{
  width: 100%;
  height: auto;
}

.comentarios{
  border: solid 1px black;
  margin-bottom: 2%;
}

.retrato{
  width: 50%;
  height: auto;
  margin: 2%;
}
